.custom-navbar{
    background-color: #385779;
}
.navbar-light .navbar-nav .nav-link
{
    color: #ffffff;
    font-size: 15px;
}
.navbar-light .navbar-nav .nav-link:hover
{
    text-decoration: underline;

}
.navbar-brand
{
    color: white;
}
